<div ng-controller="CreateCourseCtrl">
	<alert
		ng-repeat="alert in alerts"
		type="alert.type"
		close="alerts.splice($index, 1)"
		role="alert">
	{{alert.message}}
	</alert>

	<h2>Input Course Info</h2>
	<div class="col-md-6">
		<div class="form-group">
			<label>Department</label>
			<input type="text" ng-model="courseDept" placeholder="(e.g. CS)" class="form-control">
		</div>
		<div class="form-group">
			<label>Course Number</label>
			<input type="text" ng-model="courseNumber" placeholder="(e.g. 101)" class="form-control">
		</div>
		<h3 ng-if="sections.length">Sections</h3>
		<div ng-repeat="section in sections">
			<div class="form-group">
				<label>Section Name</label>
				<input type="text" ng-model="section.name" placeholder="(e.g. AL1)" class="form-control">
			</div>
			<div class="form-group">
				<label>Start Time</label>
				<timepicker ng-model="section.startTime" mousewheel="false" hour-step="1" minute-step="15"></timepicker>
			</div>
			<div class="form-group">
				<label>End Time</label>
				<timepicker ng-model="section.endTime" mousewheel="false" hour-step="1" minute-step="15"></timepicker>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-danger" ng-click="sections.splice($index, 1)">
		        {{section.name.length ? 'Delete Section "' + section.name + '"' : 'Delete Section'}}
		    	</button>
	    	</div>
			<div ng-if="!$last">------------------------</div>
			<br ng-if="$last">
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary" ng-click="addNewSection()">
	        + Add Section
	    	</button>
    	</div>
		<div class="form-group">
			<button type="button" class="btn btn-success" ng-click="createCourse()">
	        Create Course
	    	</button>
    	</div>
	</div>
</div>
